.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-inline: 1rem;
}

#title {
  background-color: #e6e6e6;
  color: black;
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: 300;
  padding: 1rem;
}

#title h1 {
  margin: 0;
}

.question {
  font-size: 1.5rem;
}

.answer {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #646cff;
  letter-spacing: 0.07rem;
}

.blur {
  filter: blur(7px);
}

.hint {
  margin-top: 3rem;
  color: #888;
}

.main, .controls {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.controls {
  /* margin-top: auto; */
  display: flex;
  flex-direction: column;
}

.btn-outline {
  border: 1px solid #646cff;
  background-color: transparent;
  color: #646cff;
}

.btn-contained {
  border: 1px solid transparent;
  background-color: #646cff;
  color: #fff;
  width: 100%;
}

.btn-contained:hover {
  background-color: #7d83ff;
}

.btn-grp {
  display: flex;
  justify-content: center;
  gap: 1em;
  min-width: max-content;
}

.nav-btn-grp {
  display: flex;
  justify-content: space-between;
}
