@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@500;600&family=Open+Sans:wght@400;500&display=swap');

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-inline: 1rem;
  font-family: 'Open Sans', sans-serif;
}

#title {
  background-color: #e6e6e6;
  color: black;
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: 300;
  padding: 1rem;
  
}

#title h1 {
  margin: 0;
  font-family: 'Kufam', sans-serif;
}

#title select {
  font-family: inherit;
  display: inline;
  min-width: 6rem;
  padding: 0.5rem;
  margin-top: .5rem;
  font-size: 1rem;
}

#title p {
  display: inline;
  margin-left: 1rem;
}

.question {
  font-size: 1.5rem;
}

.answer {
  position: relative;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #646cff;
  letter-spacing: 0.07rem;
}

.blur {
  /* filter: blur(7px); */
}

.blur::after {
  position: absolute;
  content: "";
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #646cff;
}

.blur-hint::after {
  content: "Hint";
}

.blur-answer::after {
  content: "Answer";
}

.hint {
  position: relative;
  margin-top: 1.5rem;
  color: #888;
}

.main, .controls {
  width: 100%;
  max-width: 690px;
  margin: auto auto 1rem;
}

.controls {
  /* margin-top: auto; */
  display: flex;
  flex-direction: column;
}

.btn-outline {
  border: 1px solid #646cff;
  background-color: transparent;
  color: #646cff;
}

.btn-contained {
  border: 1px solid transparent;
  background-color: #646cff;
  color: #fff;
  width: 100%;
}

.btn-contained:hover {
  background-color: #7d83ff;
}

.btn-grp {
  display: flex;
  justify-content: center;
  gap: 1em;
  min-width: max-content;
}

.nav-btn-grp {
  display: flex;
  justify-content: space-between;
}

.finished {
  padding: 1rem;
  border-radius: .5rem;
  margin: 0;
  font-family: 'Kufam', sans-serif;

}