#root {
  max-width: 1280px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}
#title {
  flex: 1;
}
#title h1 {
  padding: 1rem 0;
  margin: 0;
  font-size: 3em;
  font-weight: 300;
  background-color: #e6e6e6;
}

.main {
  flex: 3;
  margin-inline: 1em;
}

.controls {
  flex: 1;
  margin-inline: 1rem;
  margin-bottom: 2rem;
}

/* when in mobile, make button take the width of the screen */
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
  .btn-grp {
    flex-direction: column;
  }
  .btn-grp button {
    width: 100%;
  }
}

.btn-outline {
  border: 1px solid #646cff;
  background-color: transparent;
  color: #646cff;
}
.btn-contained {
  border: 1px solid transparent;
  background-color: #646cff;
  color: #fff;
}
.btn-contained:hover {
  background-color: #7d83ff;
}

.btn-grp {
  display: flex;
  justify-content: center;
  gap: 1em;
  min-width: max-content;
}

.nav-btn-grp {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.nav-btn-grp button {
  height: fit-content;
  min-height: max-content;
}

.answer {
  font-size: 1.4em;
  font-weight: 500;
  color: #646cff;
  letter-spacing: 0.07rem;
}

.blur {
  filter: blur(7px);
}

.hint {
  color: #888;
}
